<div class="card-wrapper" id="card_wrapper">
  <div class="shopcard">
    <div class="left">
      <div class="icon" id="MYOB"> </div>
    </div>
    <div class="middle">
      <div class="text">
        <div class="heading" id="heading">
            <h3 class="title" id="title"><%= shop.name %></h3>
            <div class="card-text">Shop owner: <%= shop.user.username %></div>
            <div class="text">Shop type: <%= shop.merchant_or_personal %></div>
            <div class="card-text">Open since: <%= shop.opening_time %></div>
            <div class="card-text">Location: <%= shop.location %></div>
            <%= link_to 'View', shop_path(shop), class: 'btn btn-primary custombutton' %>
        </div>
      </div>
    </div>
    <div class="right">
      <%= image_tag picture_for(shop.dresses.last) , alt: "#{shop.dresses.last.name} image", class: 'shopcard-image'%>
      <%= image_tag picture_for(shop.dresses.second_to_last) , alt: "#{shop.dresses.second_to_last.name} image", class: 'shopcard-image' %>
    </div>
  </div>
</div>