<body>
  <header>
    <div class="collapse bg-dark" id="navbarHeader">
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-md-7 py-4">
            <h4 class="text-white">About</h4>
            <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. Expedita rerum neque unde nihil ratione nostrum, officia molestiae officiis sit? Praesentium?Lorem ipsum dolor sit amet consectetur adipisicing elit. Nam, sint.</p>
          </div>
          <div class="col-sm-4 offset-md-1 py-4">
            <h4 class="text-white">Contact</h4>
            <ul class="list-unstyled">
              <li><a href="#" class="text-white">Follow on Twitter</a></li>
              <li><a href="#" class="text-white">Like on Facebook</a></li>
              <li><a href="#" class="text-white">Email us</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="navbar navbar-dark bg-dark box-shadow">
      <div class="container d-flex justify-content-between">
        <div href="#" class="navbar-brand d-flex align-items-center">
          <%= image_tag 'celebration.svg', size: '30x30', class: 'navbarlogo'%>
          <strong><%= @shop.name %></strong>
        </div>
          <p class="username">Current user: <%= current_user.username %></p>
          <div style="margin-left: 15px;"><%= link_to 'Dresses', dresses_path, method: :get, class: 'nav-link navbarlink'%></div>
          <% if user_signed_in? %>
            <div style="margin-left: 15px;"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'%></div>
          <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      </div>
    </div>
  </header>

  <main role="main">

    <section class="jumbotron text-center shoppicture">
      <div class="container shopheading">
        <h1 class="jumbotron-heading">Wedding dress marketplace</h1>
        <p class="lead text-muted">Find your dream wedding dresses here.</p>
        <p><%= @shop.description %></p>
      </div>
    </section>

    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row">
          <div class="row justify-content-around">
            <% @shop.dresses.each do |dress| %>
              <%= render 'card', dress: dress %>
            <% end %>
          </div>
        <div class="showbuttons">
          <% if can? :edit, @shop %>
            <%= link_to 'Add new dress', new_dress_path, method: :get, class: 'btn btn-primary my-2' %>
            <%= link_to "Edit shop", edit_shop_path(@shop.id), class: 'btn btn-warning' %>
            <%= link_to "Delete shop", shop_path(@shop.id), method: :delete, class: 'btn btn-danger' %>
          <% end %>
          <%= link_to "Back", shops_path, class: 'btn btn-outline-success' %>
          <% if @shop.venue.address != nil %>
            <%= link_to "Venue", venues_show_path(@shop.venue), class: 'btn btn-outline-secondary' %>
          <% end %>
        </div>
        </div>
      </div>
    </div>

  </main>
</body>