<body class="home-body text-center">
  <div class="cover-container d-flex h-100 p-3 mx-auto flex-column">
    <header class="masthead mb-auto">
      <div class="inner">
        <h3 class="masthead-brand">Beautiful in white</h3>
        <nav class="nav nav-masthead justify-content-center">
          <a><%= link_to 'Home', root_path, method: :get, class: 'nav-link active' %></a>
          <a style="margin-left: 15px;"><%= link_to 'Introduction', introduction_path, method: :get, class: 'nav-link' %></a>
          <% if user_signed_in? %>
          <a style="margin-left: 15px;"><%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'nav-link'%></a>
          <% end %>
        </nav>
      </div>
    </header>
    <% if flash[:notice] %>
      <p><%= flash[:notice] %></p>
    <% end %>
    <main role="main" class="inner cover">
      <h1 class="cover-heading">Wedding dress marketplace</h1>
      <p class="lead">Find your dream wedding dress.</p>
      <% if user_signed_in? %>
        <p class="lead"">
          <%= button_to "Buy & Sell", dresses_path, method: :get, class: 'btn btn-lg btn-primary' %>
        </p>      
      <% else %>
        <p class="lead"">
          <%= button_to "Sign up", new_user_registration_path, method: :get, class: 'btn btn-lg btn-primary' %>
        </p>
        <p class = "lead">
          <%= button_to "Log in", new_user_session_path, method: :get, class: 'btn btn-lg btn-secondary' %>
        </p>
      <% end %>
      <% if user_signed_in? %>
        <p class = "lead">
          <%= button_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-lg btn-outline-danger' %>
        </p>
      <% end %>
    </main>
  </div>
</body>