<body class="dressshowbody">
  <nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div><%= link_to 'Home', root_path, method: :get, class:"navbar-brand"%></div>
    <div style="margin-left: 15px;"><%= link_to 'Dresses', dresses_path, method: :get, class: 'nav-link navbarlink'%></div>
    <div style="margin-left: 15px;"><%= link_to 'Shops', shops_path, method: :get, class: 'nav-link navbarlink'%></div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

  </nav>
<h1>Venues Show</h1>
<h3>Name: <%= @venue.name %></h3>
<h3>Address: <%= @venue.address %></h3>

<div style="height: 500px" id="map"></div>
<%= javascript_pack_tag "leaflet/show" %>
<br><br>
<div style="margin-left: 10px"><%= link_to "Back to shop", shop_path(@venue.shop), class: 'btn btn-outline-success' %></div>
</body>
