<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

<body class="text-center signin-body">
  <form class="form-signin">
    <%= link_to root_path do %> 
      <%= image_tag 'celebration.svg', size: '72x72',class: 'mb-4' %>
   <% end %>
    <h1 class="h3 mb-3 font-weight-normal">Please log in</h1>

    <div class="field">
      <%= f.label :email, class: 'sr-only'%><br />
      <%= f.email_field :email, autofocus: true, placeholder: 'Email address', autocomplete: "email", class: 'form-control' %>
    </div>

    <div class="field">
      <%= f.label :password, class: 'sr-only' %><br />
      <%= f.password_field :password, placeholder: 'Password', autocomplete: "current-password", class: 'form-control' %>
    </div><br>

    <% if devise_mapping.rememberable? %>
      <div class="field checkbox mb-3">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end %>

    <div class="actions">
      <%= f.submit "Log in", class: 'btn btn-lg btn-primary btn-block' %>
    </div>

    <p class="mt-5 mb-3 text-muted">&copy; 2020-2021</p>

    <div class = "signin-link">
      <%= render "devise/shared/links" %>
    </div>

  </form>

</body>

<% end %>


