<div class="card text-center my-3 col-md-4 col-xs-12" style="max-width:30%; min-width:18rem;">
  <div class="card-body">
    <%= image_tag picture_for(dress) , alt: "#{dress.name} image", class: 'card-img-top img_fluid card-picture' %>
    <h5 class="card-title"><%= dress.name %></h5>
    <div class="card-subtitle text-muted"><%= "#{dress.price/100} $" %></div>
    <div class="card-text"><%= dress.shop.name %></div>
    <% if dress.is_sold == true %>
      <div class="card-text" style="color:red">SOLD</div>
    <% end %>
    <%= link_to 'View', dress_path(dress), class: 'btn btn-primary', style: 'margin-top: 5px' %>
  </div>
</div>