<div class="show-content">
  <div class="show-movie-attributes-wrapper">
    <%= image_tag picture_for(@dress) , alt: "#{@dress.name} image", class: 'card-img-top img_fluid ml-2', style: 'width:40%;'%> 
    <div class="col-md-8">
      <h1 class = "name"><%= @dress.name %></h1>
      <div class = "movie-attributes">
        <strong>Price:  </strong>
        <span><%= @dress.price %></span>
      </div>
      <div class = "movie-attributes">
        <strong>Shipping cost:  </strong>
        <span><%= @dress.shipping_cost %></span>
      </div>
      <div class = "movie-attributes">
        <strong>Brand:  </strong>
        <span><%= @dress.brand %></span>
      </div>
      <div class = "movie-attributes">
        <strong>Size:  </strong>
        <span><%= @dress.size.size %></span>
      </div>
      <div class = "movie-attributes">
        <strong>Silhouette:  </strong>
        <span><%= @dress.silhouette.style %></span>
      </div>
      <div class = "movie-attributes">
        <strong>Length:  </strong>
        <span><%= @dress.length.length %></span>
      </div>
      <div class = "movie-attributes">
        <strong>Neckline:  </strong>
        <span><%= @dress.neckline.style %></span>
      </div>
      <div class = "movie-attributes">
        <strong>Sleeve:  </strong>
        <span><%= @dress.sleeve.style %></span>
      </div>
      <div class = "movie-attributes">
        <strong>Shop:  </strong>
        <span><%= @dress.shop.name %></span>
      </div>
    </div>
  </div>
  <div class="showbuttons">

    <%= link_to "Back", dresses_path, class: 'btn btn-outline-success' %>
  </div>
</div>